.button-hamburger {
    width: toRem(48);
    height: toRem(48);
    border-radius: 50%;
    border: 1px solid var(--primary);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: toRem(14);

    span {
        display: block;
        border-radius: toRem(20);
        width: toRem(20);
        height: toRem(1);
        background-color: var(--primary);
    }
}